{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
<div class="container">
<div class="row mx-auto">
<div class="col-6 mx-auto">
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}
{{form_row(form.email)}}
{{form_row(form.mdp)}}
{{form_row(form.pseudo)}}
<div class="text-center">
{{form_row(form.save)}}
</div>
{{form_end(form)}}
</div>
</div>
</div>


{% endblock %}
