{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
<div class="row mx-auto">
<div class="col-9 mx-auto">
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}
{{form_row(form.titre)}}
{{form_row(form.contenu)}}
{{form_row(form.img)}}
{{form_row(form.idCategorie)}}
</div>
<div class="text-center">
{{form_row(form.save)}}

{{form_end(form)}}

<a href="/dashboard/supprimer-article={{article.idArticle}}+{{article.slug}}'"><button class="btn btn-danger">Supprimer l'article</button></a>

</div>
</div>
{% endblock %}